@page

@model Sunrise.Pages.Forms.UploadPostModel

<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="uploads"  /><br>
    <input name="tags" id="find" class="awesomplete" /><br>
    <input type="submit" value="Upload" />
</form>

<script src="/js/autocomplete.js"></script>

<h3>Grab</h3>
<input type="text" id="grab" />
<input type="submit" value="Grab" id="grabButton" />
<script>
    document.getElementById('grabButton').onclick = async function() {
        let url = document.getElementById('grab').value;
        fetch('/grab?grabUrl='+url, { method: 'POST', redirect: 'follow'});
    };
</script>