@page

@model Sunrise.Pages.Forms.UploadPostModel

<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="uploads"  /><br>
    <input name="tags" id="find" class="awesomplete" /><br>
    <input type="submit" value="Upload" />
</form>

<script src="/js/autocomplete.js"></script>