/*стили для топбара*/
.topbar{
    margin-top: 0px;
    background-color: rgb(28 28 28 / 70%);
    height: 50px;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.center{
    order: 0;
    transform: translateX(-25%);
    margin-top: 1%;
}
.left{
    order:-1;
}
.right{
    order: 1;
}