@page
@model Forms.LoginUserModel
@{
    ViewData["Title"] = "LoginUser";
}

<h1>LoginUser</h1>
<form id="inputFrom">
    username
    <input id="userName" name="username" />
    <br />
    password
    <input id="userPassword" name="password" autocomplete="off" />
    <br/>
    remember me
    <input id="remember" type="checkbox" name="remember"/>


</form>
<button id="sendForm">Send Request</button>
<script>
    function writeResult(text)
    {
        var q = document.createElement('p');
q.textContent = text;
document.body.appendChild(q);
q = document.createElement('hr');
document.body.appendChild(q);
    }
    document.getElementById("sendForm").onclick = function send() {
        var params = new Object();
        params.name = document.getElementById("userName").value;
        params.password = document.getElementById("userPassword").value;
        params.rememberMe = document.getElementById("remember").checked;
        fetch("/api/login/", {
            method: "POST",
            headers: {
                "Access-Control-Allow-Origin": "*",
                "mode": "no-cors",
                "Content-Type": "application/json"
            },
            body: JSON.stringify(params)
        }).then(x => x.text()).then(y => writeResult(y));
    }
</script>