<!DOCTYPE html>
<html>
    <head>
        @{
            //render page title
            var title = ViewData["title"] ?? "Sunrise";
            <title>title</title>
        }
    </head>
    <body>
        @RenderBody()
    </body>
</html>