@page

@{
    ViewData["title"] = "IndexS";
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="/css/find.css"/>
}

<div class="center-div">
    <input type="text" id="find" class="find-class awesomplete">
</div>

<script src="/js/autocomplete.js"></script>