@page

@{
    ViewData["title"] = "IndexS";
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="/css/find.css"/>
}

<div class="center-div">
    <input type="text" id="findTags" class="find-class">
</div>