@page
@model Sunrise.Pages.StatsModel

<div>
    <p>Server uptime: @Model.Uptime</p>
    <p>Posts count: @Model.PostsCount</p>
    <p>Users count: @Model.UsersCount</p>
    <p>Tags count: @Model.TagsCount</p>
</div>