@page "/login"
@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="top-flex">
    <div id="logindiv" class="box">
        <div class="top-grid">
            <p class="text" style="font-size: 26px;">
                Login
            </p>
            <div>
                <p class="text">Username</p>
                <input type="text" id="loginusernameinput" />
            </div>
            <div>
                <p class="text">Password</p>
                <input type="password" id="passwordusernameinput" />
            </div>
            <div>
                <p class="text">
                    <input type="checkbox" id="logincheckbox" />Remember
                </p>
            </div>
            <div>
                <button id="loginbutton">
                    Login
                </button>
            </div>
        </div>
    </div>
    <div class="top-divide-line"></div>
    <div class="box">
        <div class="top-grid">
            <p class="text" style="font-size: 26px;">
                Registry
            </p>
            <div class="item-grid">
                <p class="text">Username</p>
                <input type="text" id="name" />
            </div>
            <div class="item-grid">
                <p class="text">Password</p>
                <input type="password" id="password" />
            </div>
            <div class="item-grid">
                <p class="text">Email</p>
                <input type="email" id="input-email">
            </div>

            <div class="item-grid">
                <button id="registrationbutton">
                    Registration
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    //код для логина на страницу
    document.getElementById('loginbutton').onclick = () => {
        login(
            document.getElementById('loginusernameinput').value,
            document.getElementById('passwordusernameinput').value,
            document.getElementById('logincheckbox').sumbit
        );
        window.open("/", "_self");
    };

    
    //обработчик регистрации пользователя
    document.getElementById('registrationbutton').onclick = async () => {
        var r = await registry(
            document.getElementById('name').value,
            document.getElementById('password').value,
            document.getElementById('input-email').value //todo: переделать это для получения информации и с других полей
        );
        window.open(r.open, "_self");
    };
</script>